<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div @keyup.esc="closeModal" class="container" id="app">
    <div class="row">
        <div style="margin-top: 20px">
                <h1 style="margin: 0; display:inline-block;">Books</h1>
                <button id="show-modal" @click="showModal = true" type="button" class="btn btn-primary pull-right">Add</button>
        </div>

        <div id="myModal">
        <!-- use the modal component, pass in the prop -->
            <modal :show.sync="showModal" :new-book.sync="newBook" :add-book="addBook" :close-modal="closeModal">
                <!--
                  you can use custom content here to overwrite
                  default content
                -->
                <h3 slot="header">New Book</h3>
            </modal>
        </div>

        <div class="well">
            <input type="search" v-model="MySearch" class="form-control" placeholder="Search">
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <i class="fa fa-fw fa-sort"
                        v-bind:class="{
                        'fa-sort-amount-asc': orderCol === 'id' && orderInverse === 1,
                        'fa-sort-amount-desc': orderCol === 'id' && orderInverse === -1,
                        }"></i>
                        <a href="#" v-on:click="filterOrderBy($event,'id')">Id</a></th>
                    <th>
                        <i class="fa fa-fw fa-sort"
                           v-bind:class="{
                        'fa-sort-amount-asc': orderCol === 'title' && orderInverse === 1,
                        'fa-sort-amount-desc': orderCol === 'title' && orderInverse === -1,
                        }"></i>
                        <a href="#" v-on:click="filterOrderBy($event,'title')">Title</a></th>
                    <th>
                        <i class="fa fa-fw fa-sort"
                           v-bind:class="{
                        'fa-sort-amount-asc': orderCol === 'value' && orderInverse === 1,
                        'fa-sort-amount-desc': orderCol === 'value' && orderInverse === -1,
                        }"></i>
                        <a href="#" v-on:click="filterOrderBy($event,'value')">Value</a></th>
                    <th>
                        <i class="fa fa-fw fa-sort"
                           v-bind:class="{
                        'fa-sort-amount-asc': orderCol === 'description' && orderInverse === 1,
                        'fa-sort-amount-desc': orderCol === 'description' && orderInverse === -1,
                        }"></i>
                        <a href="#" v-on:click="filterOrderBy($event,'description')">Description</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="book in books | filterBy MySearch 'title' 'description' | orderBy orderCol orderInverse">
                    <td>{{ book.id }}</td>
                    <td>{{ book.title | uppercase }}</td>
                    <td>{{ book.value | currency 'R$' }}</td>
                    <td>{{ book.description }}</td>
                    <td class="remove-button">
                        <a href="#" @click="removeBook($event, book.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav class="text-center" aria-label="Page navigation">
            <ul class="pagination">
                <li v-bind:class="{'disabled' : pagination.current === 1}">
                    <a href="#" @click="previous" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="page in pagination.listPagination"f
                    v-bind:class="{ 'active': pagination.current === $index + 1 }"
                >
                    <a href="#" @click="pagePagination($event, $index)">{{ $index + 1}}</a>
                </li>
                <li v-bind:class="{'disabled' : pagination.current === pagination.totalPages}">
                    <a href="#" @click="next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- template for the modal component -->
    <script type="x/template" id="modal-template">
        <div class="mymodal-mask" v-show="show" transition="mymodal">
            <div class="mymodal-wrapper">
                <div class="mymodal-container">

                    <div class="mymodal-header">
                        <button @click="closeModal" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <slot name="header">
                            New Book
                        </slot>
                    </div>

                    <div class="mymodal-body">
                        <slot name="body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Title</label>
                                <input v-el:teste v-model="newBook.title" type="text" class="form-control" placeholder="Input Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Value</label>
                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input v-model="newBook.value" type="text" class="form-control" placeholder="00,00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Description</label>
                                <textarea v-model="newBook.description" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </slot>
                    </div>

                    <div class="mymodal-footer">
                        <slot name="footer">
                            <div class="text-right">
                                <button @click="addBook" type="button" class="btn btn-primary">Add</button>
                            </div>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="js/app.js"></script>

</body>
</html>